.portfolio_container{
    /* background-color: rgb(5, 5, 56); */
    color : white;
    height: 100vh;

}

/* .card{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    margin-right: 60px;
} */

.portfolio_content{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    gap: 16rem;
    margin-inline-start: 20px


}


.portfolio_container>h1{
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 3.5rem;
}


.portImage{

    width: 400px;
    position: absolute;
    /* display: block; */

}

.port_text{
    position: relative;
    display: block;
    width: 300px;
    top: 50%;
    padding: 10px;

}

.port_text>h3{
    font-size: 2.2rem;
    margin-bottom: 10px;

}

.port_text>p{

    font-size: 1rem;
    line-height: 1.3rem;
}

@media screen and (max-width: 500px) {
    .portfolio_container{
        /* background-color: rgb(5, 5, 56); */
        color : white;
        height: 200vh;
    
    }
    .port_text h3{
        font-size: 1.8rem;
    }

    .portfolio_content{
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        display: flex;
        gap: 15rem;
    }
    .portImage{
        width: 360px;
    }

}