#aboutSection{
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    background: rgb(5, 5, 56);

}

#aboutSection>h1{
    color: white;
    font-size: 3.5rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 50px;
    border-top: 1px solid white;
    
}

.section_container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.banImg{
    width: 100%;
    margin-right: 100px;
}

.section_content{
    padding: 20px;
    /* line-height: 1.7rem; */
}
.section_content>h1{
    color: white;
    margin-bottom: 30px;
    font-size: 3rem;
    
}

.section_content>p{
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;

}