.contact_container{
    height: 120vh;
    background-color: rgb(5, 5, 56);
    
    
}
.content_box{
    display: grid;
    grid-template-columns: 50% 50%;
}


.cta_form{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 500px;
    background-color: transparent;
    margin: 40px;
    border-radius: 40px;
    border: 2px solid white;
    padding: 50px;
    align-items: center;
    z-index: 1;
}

.cta_form>input{
    width: 300px;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin: 20px;
    color: white;
    outline: 0;
}
.cta_form>input::placeholder{
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.cta_btn{
    width: 200px;
    padding: 15px;
    border: none;
    margin: 20px;
    background-color:rgb(7, 21, 52);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

.cta_btn:hover{
    background-color: rgb(1, 3, 7);
    cursor:pointer;
    animation-delay: 1s;
    transition: ease-out;

}


.contact_container>h1{
    color: white;
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
}

.icon-cn{
    font-size: 2rem;
    position: relative;
    left: 80px;
    top: 25px;
}


#image{
    position: absolute;
    left: 80px;
    opacity: 0.3;
    display: block;
    height: 770px;
    margin-bottom: 20px;
   
}


.con_icn{
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    position: absolute;
    right: 20px;
    gap: 20px;
    margin-top: 130px;
    border-right: 1px solid white;
}


.con_icn > .icn:hover{
    color: rgb(7, 7, 36);
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    #image{
        height: 320px;
    }
    .cta_form{
        margin: 0;
        width: 400px;
        height: 450px;
    }

    .con_icn{
        display: none;       
    }

    .contact_container{
        height: 80vh;       
        
    }
    .contact_container>h1{
        padding: 5px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 700px) {
    #image{
        height: 38rem;
        position: absolute;
        left: 10px;
    }
    .con_icn{
        
        display: none;
    }
    .cta_form{
        margin: 0;
        width: 500px;
        height: 500px;
    }
    #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_container>h1{
    padding: 5px;
    margin-bottom: 80px;
}

}