.navbar{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.854) transparent;
    width: 100%;
    align-items: center;
    padding: 40px;

}
.navbar > ul{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    list-style: none;
    text-decoration: none;
}
.navbar > ul >li>a{
    text-decoration: none;
    font-size: large;
    font-weight: 800;
    padding: 10px;    
    color: white;
}

.navbar > ul >li>a:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    border-bottom: 2px solid rgb(4, 136, 237);
}

.logo{

    position: absolute;
    left: 10px;

}

.logo>img{
    position: relative;
    top: 0;
    margin-top: 1px;

}

.cta{

    padding: 10px;
    position: absolute;
    right: 25px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(14, 25, 56);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 120px;  
}

.cta:hover{
    border: none;
    background-color: rgb(5, 12, 30);
    
}
