*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encoded Sans Expanded', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(5, 5, 56);
    /* background-image: url('./images/white-diamond-dark.png') */
}

:root{

    --primary-color: rgb(4, 136, 237);
    --background-color: rgb(5, 5, 56);
}


::-webkit-scrollbar{
    display: none;
}